.form {
    background-color: #1d3038;
    padding: 80px 60px;
    margin: 0 auto;
    max-width: 760px;
    &__wrapper {
        display: flex;
        margin-bottom: 35px;
    }
    &__inner {
        width: 50%;
        margin-right: 10px;
    }
    &__inner:last-child {
        margin-right: 0px;
    }

    &__label {
        @include Medium;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    &__input {
        background-color: #1d3038;
        border: none;
        border-bottom: 2px solid #ffffff;
    }
    &__input--name {
    }

    &__email-box {
        margin-bottom: 35px;
    }

    &__check-box {
        margin-bottom: 60px;
    }
    &__check-label {
        @include Bold; 
        font-size: 21px;
        line-height: 28px;
    }
    &__check-text {
        @include Medium;
        font-size: 16px;
        line-height: 24px;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    &__check-link {
        @include SemiBold;
        font-size: 16px;
        line-height: 24px;
    }
}

// xs: 480px,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1240px,
// xxl: 1340px

.form {
    @include bp(md) {
        padding: 25px 15px 40px 15px;
        &__wrapper {
            display: block;
            margin-bottom: 35px;
        }
        &__inner {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 35px;
        }
        &__check-label {
            font-size: 18px;
            line-height: 28px;
        }
    }
    @include bp(sm) {
        &__inner {
        }

        &__label {
        }

        &__input {
        }

        &__email-box {
        }

        &__check-box {
        }

        &__check-text {
        }

        &__check-link {
        }
    }
}
