.company {

    text-align: center;
    &__name {
        @include Bold;
        font-size: 20px;
        line-height: 24px;
    }

    &__text {
        font-size: 15px;
        line-height: 18px;
    }
}

.company {
    @include bp(sm) {
        &__name {
            font-size: 17px;
            line-height: 20px;
        }
    }
}